{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИНФОРМАЦИОННАЯ СИСТЕМА</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style5.css' %}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
            .container_comment {
                    width: auto;
                    max-width: 680px;
                    padding: 0 15px;
            }
            .post-footer, .comments {
                    padding: 20px 0;
            }
            .btn-circle {
                    width: 39px;
                    height: 39px;
                    border-radius: 35px;
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 16px;
                    white-space: normal; /* восстанавливаем свойству значение по умолчанию */
            }

            .btn-rounded {
                    border-radius: 19px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    padding-left: 3px;
            }

        </style>
</head>
<body>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="{% static 'img/logo.png' %}" alt="Письма мастера дзен">

            </div>

            <ul class="list-unstyled components">
                <p>  <a style="color: #403d3d;" href="/">Все документы</a></p>
                <!--<li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>-->

                {% for subject in subjects %}
                <li>
                    <a href="{% url 'subject_detail' fl=subject.slug %}">{{ subject.subject_files }}</a>
                </li>
                {% endfor %}

            </ul>

            <!--<ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>-->
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                         <button class="btn btn-outline-success" type="button">Телефонный справочник</button>
                        </ul>
                    </div>
                </div>
            </nav>

            <h2>Информационная система ООО "Газпром межрегионгаз Рязань"</h2>
            <p>ознакомьтесь с документацией</p>

            <div class="line"></div>
{% block content %}


{% endblock %}

        </div>
    </div>
<div style="position: fixed;bottom:25px;right:5px;">
                    {% if user.is_authenticated %}

                    <button type="button" class="file-new-btn btn btn-primary btn-rounded"><i class="fas fa-plus-circle text-primary rounded-circle bg-white mr-1" style="padding: 7px 6px;"></i> Файл</button>
                    <button type="button" class="subject-new-btn btn btn-primary btn-rounded"><i class="fas fa-plus-circle text-primary rounded-circle bg-white mr-1" style="padding: 7px 6px;"></i> Тему</button>
                    <a class="btn btn-warning btn-rounded" href="/subject/"><i class="fas fa-sync-alt text-warning rounded-circle bg-white mr-1" style="padding: 7px 6px;"></i>Изменить тему</a>
                   <!--  Вы вошли как {{ user.get_username }}&nbsp;-->
                    <a class="btn btn-outline-danger btn-circle" href="{% url 'logout'%}?next={{request.path}}"><i class="fas fa-user"></i></a>
                    {% else %}
                        <button type="button" class="login-btn btn btn-outline-primary btn-circle"><i class="far fa-user"></i></button>
        <!-- Default dropup button
<div class="btn-group dropup">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropup
  </button>
<div class="dropdown-menu">
 {% include 'file/file_edit.html'%}
</div>
</div>-->
                    {% endif %}
</div>

     <!-- JavaScript -->

        <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <!-- You can alternatively load the minified version -->
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
            <script type="text/javascript">
                        $(function () {

                                        $(".file-new-btn").modalForm({formURL: "{% url 'file_new' %}"});
                                        $(".subject-new-btn").modalForm({formURL: "{% url 'subject_new' %}"});
                                        // Log in & Sign up buttons
                                        $(".signup-btn").modalForm({formURL: "{% url 'signup' %}"});
                                        $(".login-btn").modalForm({formURL: "{% url 'login' %}?next={{request.path}}"});
                                        });


                          $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
            </script>
{% block JS %}


{% endblock %}

</body>
</html>
