
{% extends 'file/base_menu.html' %}


{% block content%}


<br>
<div class="container">




        <table class="table">
            <thead class="thead-default">
                <tr>
            <!-- <th>#</th> -->
                    <th>Описание файла</th>

                    <th>Просмотреть файл</th>
                    <th>Скачать файл</th>
                </tr>
            </thead>
        <tbody>
            {% for fl in files %}
                <tr>
                 <!-- <th scope="row">1</th> -->
                    <td> {{fl.description_file_post}}</td>


                    <td><a href="media/{{ fl.file }}" download>Скачать</a></td>
                    <td><a href="{% url 'file_detail' url_post=fl.url %}">Просмотреть</a></td>
                 
                </tr>
            {% endfor %}
        </tbody>
        </table>

</div> <!-- /container -->




<div class="container">


      <hr>

      <footer>
        <p>&copy; Газпром межрегионгаз Рязань 2018</p>
      </footer>
    </div> <!-- /container -->

            {% endblock %}

