
{% extends "file/base_menu.html" %}

{% block content %}

<ul>
<!-- Нужно попробовать цикл в цикле-->
{% for post in subject %}

    {{ post.subject_file }}
        <li>
			
			<a href="{% url 'subject_detail' fl=post.subject_files %}">{{ post.subject_files }}</a>
			<ul>

			{% for fl in post.subject_file_post.all %}
			<li>{{ fl }}</li>
			{% endfor %}

			</ul>

		</li>

         {% endfor %}
</ul>
<!--{{ posts.subject_files }}
{% for result in posts.subject_file_post.all %}

                    <li>{{ result.subject_files_post.tittle }}</li>
                    <li>{{ result.subject_files }}</li>
                {% endfor %}-->

{% endblock %}

