{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Информация о теме</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="">
    Наименование:
    {{ subject.subject_files }}
  </div>
  <div class="">
    Описание:
    {{ subject.description_subject }}
  </div>


</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>